.header{
    padding: .5rem 0;
    text-align: center;
    background-color: rgb(201, 105, 105);
    margin: 0;
    font-family: 'Aguafina Script', cursive;
    font-size: 3rem;
    color: darkslategrey;
    text-shadow: 2px 2px 5px white;
}